@charset "utf-8";

@font-face {
	font-family: "Kosugi Maru";
	src: url("../font/KosugiMaru-Regular.ttf") format("truetype");
}

body{
    background-image: url("KIDDA-LA.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: "Kosugi Maru";
}

input[type="number"] {
	width: 30px !important;
}

.for-display {
	display: block;
}

.for-print {
	display: none;
}


@media print {
	@page {
		size: 210mm 297mm;
		margin: 2cm 0;
	}

    .fs-5 {
    	font-size: 11pt !important;
    }

	.card, .card-header, .card-body, .table-bordered, table, thead, tbody {
		border-color: black !important;
		color: black !important;
		border-radius: 0px !important;
	}

	.for-display {
		display: none;
	}

	.for-print {
		display: block;
	}
}